* {
    /* height: 100%; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 90%;
    
  }


  form {


    display: flex;
    width: 400px;
    padding: 20px;
    border: 1px solid grey;
    flex-direction: column;
    justify-content: space-between;

 

  }
  .a {
    display: flex;

  }

  .c {
    display: flex;
  }
  /* .b {
    display: flex;
  } */
  /* input {
    flex: 1;
  } */
  /* div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */

 h4 {
    display: flex;
    align-items: flex-end
 }